.log1{
    margin-top: 300px;
    margin-right: 100%;
    height: 500px;
}
.form_class{
    height: 500px;
    width: 400px;
}
.login1{
height: 800px;
background-image: url(../../assets/EDU-Reminders-unfurl@2x.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-blend-mode: multiply;
width: 100%;
}