html,body{
    background-image: url(../../reminderapp/src/assets/paper-3146952_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center center;
    height: 600px;

}

