

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 regform">
            <form [formGroup]="registerForm" (ngSubmit)="register()" action="" class="border bg-light">
                <h1 class="text-center" style="color:rgb(65, 109, 44);"><strong>Register</strong></h1>

                <div class="mt-3 p-2">
                    <input type="text" formControlName="username" id="username" class="form-control" placeholder="Username">
                </div>
                <div *ngIf="this.registerForm.get('username')?.touched&&this.registerForm.get('username')?.errors" style="color:red">Invalid username</div>


                <div class="mt-3 p-2">
                    <input type="text" formControlName="userid" id="userid" class="form-control" placeholder="User id">
                </div>
                <div *ngIf="this.registerForm.get('userid')?.touched&&this.registerForm.get('userid')?.errors" style="color:red">Invalid userid</div>


                <div class="mt-3 p-2">
                    <input type="text" formControlName="password" id="password" class="form-control" placeholder="Password">
                </div>
                <div *ngIf="this.registerForm.get('password')?.touched&&this.registerForm.get('password')?.errors" style="color:red">Invalid password</div>


                <div class="mt-3 p-2">
                    <button class="btn btn-success">Register</button>
                </div>

                <p style="color:rgb(0, 0, 0);align-items:baseline;">Already Registered? <a routerLink="">Login</a></p>

            </form>
        </div>
       <div class="col-4"></div>
        </div>
        </div> 